.Bem-vindo
{
    display: grid;
    justify-content: space-around;
    background-color: #201b2c;
    padding-top: 0px;
    justify-content: space-between;
    transition: .3s;
    text-decoration: none;
}
.Bem-vindo h1 {
    margin-top: 300px;
    margin-left: 814px;
    width: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 378px;
    font-family: system-ui, 'Noto Music';
    color: #00ff88;
}