.Esqueceu-senha
{
    display: block;
    padding-left: 0;
    width: 100%;
    justify-items: center;
  }
  
.Esqueceu-senha ul  
{
    display: flex;
    padding-left: 0;
    width: 100%;
    justify-content: space-between;
  }