.logoSubtitulo
{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1219px;
    height: auto;
}


.html-logo-subtitulo
{
    margin: 0%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-bottom: 15px;
}


.css-logo-subtitulo
{
    margin: 0%;
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.javascript-logo-subtitulo
{
    margin: 0%;
    display: flex;
    align-items: center;
    padding-left: 21px;
}