@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Noto Music', sans-serif;
}  

.main-login{
    width: auto;
    height: 800px;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    padding-right: 276px;
    background-size: cover;
}
.left-login{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20%;
}
.left-login > h1 {
    color: #77ffc0;
    transition: 0.3s;
    opacity: 0.7;
}
.left-login-img{
    width: min(700px, 100%);
    padding-left: auto;
    padding-top: 30%;
    display: flex;
}
.right-login{
    width: 60vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    display: block;
    
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 76px;
    margin-left: auto;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login img.AstronautDevBranco {
    padding-top: 5%;
    padding-bottom: 10%;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px;
    
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: #f0ffff94;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: 25px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    
}/*
.checkbox > label{
  color: #f0ffffde;
  font-weight: 200;
}
.checkbox{
  padding-top: auto;
  display: flex;
  padding-bottom: 30px;
  width: 100%;
  justify-items: center;
}
*/
.Esqueceu-senha{
  display: block;
  padding-left: 0;
  width: 100%;
  justify-items: center;
}

.Esqueceu-senha ul{
  display: flex;
  padding-left: 0;
  width: 100%;
  justify-content: space-between;
}

.html-logo{
  width: min(200px, 100px);
  display: flex;
}

.css-logo{
  width: min(300px, 100px);
  display: flex;
}
.javavscript-logo{
  width: min(300px, 100px);
  display: flex;
}

.Carreira-Frontend{
  display: flex;
  padding-left: auto;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0;
  
}
.wrapper {
    width: min(150rem, 100%);
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-shadow: #514869;
} 
a.logo{
    height: auto;
    width: auto;
    padding-bottom: 100px;
}
img.wrapper{
    display: flex;
    height: auto;
    width: 120px;
} 
img.logoSubtitulo{
    width: min(160px,100%);
    padding-left: 6px;
    padding-top: 5px;
}
img.AstronautaLogo{
    width: min(160px, 50%);
    display: grid;
}
p {
    width: auto;
    height: auto;
}
footer .wrapper {
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 'A B';
}
ul{
    list-style-type: none;
}
/*=== FOOTER =================================*/
footer {
    background: #77ffc0;
    display: flex;
    width: auto;
    height: 309px;
    padding: 54px 12px 41px 140px;
    background-size: cover;
    justify-self:flex-start
}
footer .social-links {
    display: flex;
    grid-gap: 5px;
    padding: 472px 222px 29px 31px;
  }

footer .col-b {
    align-self: center;
    justify-self: flex-end;
    margin-inline-start: auto;
  }

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    
}
a:hover{
    opacity: 0.7;
}

.logo{
    padding-top: 20px;
    padding-left: 70px;
    font-size: 24px;
    text-transform: uppercase;
}

nav{
    display: flex;
    justify-content:space-between;
    padding-top: 30px;
    padding-right: 30px;
    font-family: system-ui, 'Noto Music'; 
    text-transform: uppercase;
    background: #2f2841;
    height: 9vh;
}
.btn-navButtonLogin{
  width: auto;
  border-radius: 8px;
  margin-bottom: 40px;
  padding-left: 19px;
  padding-right: 19px;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-family: system-ui, 'Noto Music';
  letter-spacing: 5px;
  color: #2b134b;
  background-color: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  transition: 0.3s;
  
}
.btn-navButtonCadastro{
  width: auto;
  border-radius: 8px;
  margin-bottom: 40px;
  padding-left: 19px;
  padding-right: 19px;
  outline: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-family: system-ui, 'Noto Music';
  letter-spacing: 5px;
  color: #2b134b;
  background-color: #00ff88;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #00ff8052;
  transition: 0.3s;
}

.navButton{
  padding-left: 30px;
  grid-gap: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    padding-top: 15px;
    padding-right: 80px;
    padding-left: 40px;
    grid-gap: 5px;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }