@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    margin: 0;
    font-family: 'Noto Music', sans-serif;
}


.main-login{
    width: auto;
    height: 800px;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    padding-right: 276px;
}
.left-login{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 20%; ;
}
.left-login > h1 {
    color: #77ffc0;
}
.left-login-img{
    width: min(900px, 120%);
    padding-left: 30px;
    padding-top: 10%;
    background-size: cover;

}
.right-login{
    width: 60vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 90px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card-login img.AstronautDevBranco {
    padding-top: 5%;
    padding-bottom: 10%;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.textfield > input::placeholder{
    color: #f0ffff94;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: 25px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.btn-cadastro{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: 25px;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background-color: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.wrapper {
    width: min(150rem, 100%);
    height: 50px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    text-shadow: #514869;
} 
a.logo{
    height: auto;
    width: auto;
    padding-bottom: 100px;
}
img.wrapper{
    display: flex;
    height: auto;
    width: 120px;
} 
img.logoSubtitulo{
    width: min(160px,100%);
    padding-left: 6px;
    padding-top: 5px;
}
img.AstronautaLogo{
    width: min(160px, 50%);
    display: grid;
}
p {
    width: auto;
    height: auto;
}
footer .wrapper {
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 'A B';
}
ul{
    list-style-type: none;
}
/*=== FOOTER =================================*/
footer {
    background: #77ffc0;
    display: flex;
    width: auto;
    height: 290px;
    padding: 35px 80px 13px 232px;  
}
footer .social-links {
    display: flex;
    grid-gap: 5px;
    padding: 154px 95px 5px 44px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
}

nav{
    display: flex;
    justify-content: space-around;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    background: #23232e;
    height: 8vh;
}

.nav-list{
    list-style: none;
    display:flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
